nb-configuration.xml
node_modules
/ci/postgres-dev/docker-entrypoint-initdb.d/*.sh
/ci/wildfly-dev/docker-entrypoint-initmw.d/*.cli
.vagrant
npm-debug.log
nbproject
*.iml
.idea
.settings
target
.project
.classpath