nb-configuration.xml
node_modules
/ci/postgres-dev/docker-entrypoint-initdb.d/*.sh
/ci/wildfly-dev/docker-entrypoint-initmw.d/*.cli
.vagrant
npm-debug.log
nbproject
/sources/libs/accessibility/target/
/sources/libs/monitoring/target/
/sources/libs/events/target/
/sources/services/descriptions-be/target/
/sources/services/links-be/target/
/sources/services/keywords-be/target/
*.iml
.idea
.settings