/sources/links/target/
/sources/description/target/
nb-configuration.xml
node_modules
/ci/postgres-dev/docker-entrypoint-initdb.d/*.sh
/ci/wildfly-dev/docker-entrypoint-initmw.d/*.cli
.vagrant
npm-debug.log
nbproject
/sources/libs/accessibility/target/
/sources/services/description/target/
/sources/services/links/target/
/sources/libs/monitoring/target/
/sources/libs/events/target/
/sources/services/descriptions/target/